<!-- Console Header -->
<opena3xx-console-header
  [isConnected]="realtimeService.isConnected"
  (connect)="onConnect()"
  (disconnect)="onDisconnect()">
</opena3xx-console-header>

<!-- Console Statistics -->
<opena3xx-console-statistics
  [totalEvents]="getTotalEvents()"
  [eventsPerMinute]="getEventsPerMinute()"
  [connectedBoards]="getConnectedBoards()"
  [activeSelectors]="getActiveSelectors()"
  [showCharts]="showCharts"
  (toggleCharts)="onToggleCharts()"
  (openSettings)="onOpenSettingsDialog()"
  (openEventHistory)="onOpenEventHistoryDialog()"
  (openPerformance)="onOpenPerformanceDialog()">
</opena3xx-console-statistics>

<!-- Console Filters -->
<opena3xx-console-filters
  (filterChange)="onFilterChange($event)"
  (searchChange)="onSearchChange($event)"
  (clearFilters)="onClearFilters()">
</opena3xx-console-filters>

<!-- Console Actions -->
<opena3xx-console-actions
  (clearEvents)="onClearEvents()"
  (exportEvents)="onExportEvents()"
  (openSettings)="onOpenSettingsDialog()"
  (openEventHistory)="onOpenEventHistoryDialog()"
  (openPerformance)="onOpenPerformanceDialog()">
</opena3xx-console-actions>

<!-- Console Charts -->
<opena3xx-console-charts
  [chartData]="getChartData()"
  [boardActivity]="getBoardActivity()"
  [showCharts]="showCharts">
</opena3xx-console-charts>

<!-- Flight Events Terminal -->
<opena3xx-flight-events-terminal
  [events]="getFilteredFlightEvents()"
  [isConnected]="realtimeService.isConnected"
  (copyEvent)="onCopyEvent($event)"
  (exportEvent)="onExportSingleEvent($event)">
</opena3xx-flight-events-terminal>

<!-- Keep Alive Events Terminal -->
<opena3xx-keep-alive-events-terminal
  [events]="getFilteredKeepAliveEvents()"
  [isConnected]="realtimeService.isConnected"
  (copyEvent)="onCopyEvent($event)"
  (exportEvent)="onExportSingleEvent($event)">
</opena3xx-keep-alive-events-terminal>
