<h1>Map {{ hardwareInputSelector.name }} - {{ hardwareInputSelector.hardwareInputType }}</h1>

<mat-expansion-panel
  expanded
  *ngFor="let a of hardwareInputSelector.hardwareInputSelectors; let index = index"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Hardware Input Selector mapping -
      {{ hardwareInputSelector.hardwareInputSelectors[index].name }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <opena3xx-map-hardware-input-selectors-form
    [hardwareInputSelectorId]="hardwareInputSelector.hardwareInputSelectors[index].id"
  >
  </opena3xx-map-hardware-input-selectors-form>
  <!-- <dynamic-form *ngIf="dataLoaded" [identifier]="hardwareInputSelector.hardwareInputSelectors[index].id" [fields]="hardwareBoardSelectorFields" (submit)="submit($event)">
    </dynamic-form> -->
</mat-expansion-panel>
