<form [formGroup]="linkHardwareInputSelectorsForm" (submit)="onSubmit($event)">
    <opena3xx-forms-select [field]="integrationTypeFieldConfig" [group]="linkHardwareInputSelectorsForm" (onSelectChange)="onIntegrationTypeChange($event)">
    </opena3xx-forms-select>

    <opena3xx-forms-select [field]="simulatorEventsFieldConfig" [group]="linkHardwareInputSelectorsForm">
    </opena3xx-forms-select>


    <div class="full-width margin-top">
        <button type="submit" mat-flat-button color="accent" (click)="onSimulatorEventTest()" class="pull-right">Test Event</button>
        <button type="submit" mat-flat-button color="primary" (click)="onSave()">Save</button>
    </div>
</form>