<mat-toolbar>
  <mat-icon>dashboard</mat-icon>&nbsp;
  <span>Add Hardware Panel</span>
</mat-toolbar>
<mat-toolbar class="sub-menu-navigation">
  <button mat-flat-button color="primary" (click)="back()">Back</button>
</mat-toolbar>

<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title> Add Hardware Panel </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <div class="container">
      <form [formGroup]="addHardwarePanelForm" (submit)="onSubmit($event)">
        <opena3xx-input [field]="hardwarePanelNameFieldConfig" [group]="addHardwarePanelForm">
        </opena3xx-input>

        <opena3xx-forms-select
          [field]="aircraftManufacturerFieldConfig"
          [group]="addHardwarePanelForm"
        >
        </opena3xx-forms-select>

        <opena3xx-forms-select [field]="aircraftModelFieldConfig" [group]="addHardwarePanelForm">
        </opena3xx-forms-select>

        <opena3xx-forms-select [field]="cockpitAreaFieldConfig" [group]="addHardwarePanelForm">
        </opena3xx-forms-select>

        <opena3xx-forms-select [field]="cockpitOwnerFieldConfig" [group]="addHardwarePanelForm">
        </opena3xx-forms-select>

        <div class="full-width margin-top">
          <button type="submit" mat-flat-button color="primary" (click)="onSave()">
            <mat-icon>check</mat-icon>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-expansion-panel>
