<mat-form-field class="full-width margin-top">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [formControl]="control"
    [disabled]="disabled"
    [multiple]="multiple"
    [placeholder]="placeholder"
    (selectionChange)="onSelectionChange.emit($event.value)"
    (valueChange)="onValueChange.emit($event)">

    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="showError && errorMessage">
    {{ errorMessage }}
  </mat-error>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>
