<opena3xx-page-layout
  title="Add Hardware Input Type"
  subtitle="Create a new hardware input type"
  icon="add"
  [actions]="pageActions"
  (actionClick)="onPageAction($event)">

  <opena3xx-loading-wrapper
    [loading]="loading()"
    [error]="error()"
    [isEmpty]="false">

    <opena3xx-dynamic-form
      [config]="formConfig"
      (formSubmit)="onFormSubmit($event)"
      (formCancel)="onFormCancel()">
    </opena3xx-dynamic-form>

  </opena3xx-loading-wrapper>

</opena3xx-page-layout>
