mat-expansion-panel {
  margin-top: 10px;
}
.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .full-width {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
