.opena3xx-container {
    // display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}
.opena3xx-sidenav-content {
    // display: flex;
    // height: 100%;
    align-items: center;
    justify-content: center;
    margin:10px;
    overflow:auto;
}
.opena3xx-sidenav {
    user-select: none;
}
.full-width {
    width: 100%;
}
.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}
.menu-button.rotated {
    transform: rotate(180deg);
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}
.submenu.expanded {
    transform: scaleY(1);
}