mat-expansion-panel {
  margin-top: 10px;
}

mat-card {
  width: 300px;
}

.example-card {
  max-width: 400px;
  float: left;
  margin-right: 30px;
  min-height: 400px;
}

.mcdu {
  background-image: url('../../../../../assets/opena3xx-mcdu-board.png');
  background-size: cover;
}

.dhcb {
  background-image: url('../../../../../assets/opena3xx-hdc-board.png');
  background-size: cover;
}
