<mat-toolbar>
  <mat-icon>laptop</mat-icon>&nbsp;
  <span>Manage Simulator Events</span>
</mat-toolbar>

<mat-toolbar>
  <button mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    Add Simulator Event
  </button>
</mat-toolbar>

<div class="loader">
  <mat-progress-bar mode="indeterminate" *ngIf="data_loaded === false"></mat-progress-bar>
</div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="friendlyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Friendly Name</th>
    <td mat-cell *matCellDef="let element"
        [matTooltip]="element.friendlyName"
        matTooltipPosition="above">
      {{ element.friendlyName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="eventName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Event name</th>
    <td mat-cell *matCellDef="let element"
        [matTooltip]="element.eventName"
        matTooltipPosition="above">
      {{ element.eventName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="simulatorEventTypeName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Simulator Event Type</th>
    <td mat-cell *matCellDef="let element"
        [matTooltip]="element.simulatorEventTypeName"
        matTooltipPosition="above">
      {{ element.simulatorEventTypeName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="simulatorSoftwareName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Simulator Software</th>
    <td mat-cell *matCellDef="let element"
        [matTooltip]="element.simulatorSoftwareName"
        matTooltipPosition="above">
      {{ element.simulatorSoftwareName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="simulatorEventSdkTypeName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Simulator Event SDK Type</th>
    <td mat-cell *matCellDef="let element"
        [matTooltip]="element.simulatorEventSdkTypeName"
        matTooltipPosition="above">
      {{ element.simulatorEventSdkTypeName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="onEditClick(element.id)">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef>Info</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="dark" matTooltipPosition="left" matTooltip="{{ element.eventCode }}">
        info
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
