<mat-toolbar>
  <mat-icon>login</mat-icon>&nbsp;
  <span>Add Hardware Output Type</span>
</mat-toolbar>
<mat-toolbar>
  <button mat-flat-button color="primary" (click)="goBack()">Back</button>
</mat-toolbar>
<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title> Add Hardware Input Type </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <div class="container">
      <form #f="ngForm" (ngSubmit)="addHardwareOutputType()" novalidate autocomplete="off">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Hardware Output Type Name</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              [(ngModel)]="hardwareOutputTypeName"
              name="name"
              placeholder="Enter Hardware Output Type Name"
            />
            <mat-icon matSuffix>text_format</mat-icon>
            <mat-hint
              >Enter the name of the hardware output type that describe the pyhiscal output
              type</mat-hint
            >
          </mat-form-field>
        </p>
        <p>
          <button mat-flat-button color="primary">
            <mat-icon mat-list-icon>check</mat-icon>
            Save
          </button>
        </p>
      </form>
    </div>
  </div>
</mat-expansion-panel>
