<form [formGroup]="linkHardwareInputSelectorsForm" (submit)="onSubmit($event)">
  <opena3xx-forms-select
    [field]="integrationTypeFieldConfig"
    [group]="linkHardwareInputSelectorsForm"
    (selectChange)="onIntegrationTypeChange($event)"
  >
  </opena3xx-forms-select>

  <opena3xx-forms-autocomplete
    [field]="simulatorEventsFieldConfig"
    [group]="linkHardwareInputSelectorsForm"
    (AutoCompleteValue)="readAutoCompleteValue($event)"
  >
  </opena3xx-forms-autocomplete>

  <div class="full-width margin-top button-container">
    <button
      type="submit"
      mat-flat-button
      color="warn"
      (click)="onSimulatorEventTest()"
      class="test-event-button"
    >
      <mat-icon>slideshow</mat-icon>
      Test Event
    </button>
    <button type="submit" mat-flat-button color="primary" (click)="onSave()" class="save-button">
      <mat-icon>check</mat-icon>
      Save
    </button>
  </div>
</form>
