<form [formGroup]="mapHardwareInputSelectorsForm" (submit)="onSubmit($event)">
    <opena3xx-forms-select [field]="hardwareBoardsFieldConfig" [group]="mapHardwareInputSelectorsForm" (onSelectChange)="onHardwareBoardSelectChange($event)">
    </opena3xx-forms-select>

    <opena3xx-forms-select [field]="ioExtenderFieldConfig" [group]="mapHardwareInputSelectorsForm"  (onSelectChange)="onIoExtenderSelectChange($event)">
    </opena3xx-forms-select>

    <opena3xx-forms-select [field]="ioExtenderBitFieldConfig" [group]="mapHardwareInputSelectorsForm">
    </opena3xx-forms-select>


    <div class="full-width margin-top">
        <button type="submit" mat-flat-button color="primary">
            <mat-icon>check</mat-icon>
            Save
        </button>
    </div>
</form>