@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

mat-expansion-panel {
  margin-top: 10px;
}

.console-container {
  //   background: rgba(56, 4, 40, 0.9);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  height: 300px;
  overflow: scroll;
  font-family: 'Ubuntu Mono' !important;
  b {
    font-weight: bold;
    color: yellow;
  }
  * {
    font-family: 'Ubuntu Mono' !important;
  }
  margin-bottom: 15px;
}
#terminal__prompt--user {
  color: #7eda28;
}

.cursor {
  font-weight: bold;
  color: turquoise;
}

.cursor-blink {
  animation: blink 2500ms linear infinite;
  display: inline-block;
  height: 16px;
  width: 8px;
  margin-left: 4px;
  background-color: white;
  vertical-align: -1px;
}

@keyframes blink {
  0% {
    background-color: #ffffff;
  }
  49% {
    background-color: #ffffff;
  }
  60% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ffffff;
  }
}

#terminal__bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

#bar__buttons {
  display: flex;
  align-items: center;
}

.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
  cursor: pointer;
}
.bar__button:focus {
  outline: none;
}
// #bar__button--exit {
//   background: linear-gradient(#f37458 0%, #de4c12 100%);
//   background-clip: padding-box;
// }

#bar__user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 9px;
}
