<mat-toolbar>
  <mat-icon>web_asset</mat-icon>&nbsp;
  <span>Real Time Console</span>
</mat-toolbar>
<mat-toolbar>
  <button mat-flat-button color="primary" (click)="goBack()">Back</button>
</mat-toolbar>
<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title> Flight Events </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <section id="terminal__bar">
      <div id="bar__buttons">
        <button class="bar__button" id="bar__button--exit">&#10005;</button>
        <button class="bar__button">&#9472;</button>
        <button class="bar__button">&#9723;</button>
      </div>
      <p id="bar__user">OpenA3XX Terminal: Real Time Console</p>
    </section>
    <div class="console-container">
      <span id="terminal__prompt--user"
        >admin@opena3xx:
        <span class="cursor" *ngIf="realtimeService.isConnected"
          >Connected & receiving realtime updates...</span
        >
        <span class="cursor" *ngIf="!realtimeService.isConnected">Disconnected from server...</span>
        <span class="cursor-blink"></span>
      </span>

      <div *ngFor="let m of realtimeService.flightEvents">
        <span id="terminal__prompt--user">admin@opena3xx:</span>
        Hardware Event: → Timestamp:
        <b>{{ m.timestamp }}</b> | Hardware Board Id: <b>{{ m.hardware_board_id }}</b> | Hardware
        Bus Name: <b>{{ m.extender_bus_name }}</b> | Extender Bit Id (Name):
        <b>{{ m.extender_bit_id }} ({{ m.extender_bit_name }})</b> | Input Selector Name:
        <b>{{ m.input_selector_name }}</b>
      </div>
    </div>
  </div>
</mat-expansion-panel>
<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title> Keep Alive Events </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <section id="terminal__bar">
      <div id="bar__buttons">
        <button class="bar__button" id="bar__button--exit">&#10005;</button>
        <button class="bar__button">&#9472;</button>
        <button class="bar__button">&#9723;</button>
      </div>
      <p id="bar__user">OpenA3XX Terminal: Real Time Console</p>
    </section>
    <div class="console-container">
      <span id="terminal__prompt--user"
        >admin@opena3xx:
        <span class="cursor" *ngIf="realtimeService.isConnected"
          >Connected & receiving realtime updates...</span
        >
        <span class="cursor" *ngIf="!realtimeService.isConnected">Disconnected from server...</span>
        <span class="cursor-blink"></span>
      </span>
      <div *ngFor="let m of realtimeService.keepAliveEvents">
        <span id="terminal__prompt--user">admin@opena3xx:</span>
        Keep Alive Event: → Timestamp:
        <b>{{ m.timestamp }}</b> | Hardware Board Id: <b>{{ m.hardware_board_id }}</b> | Message:
        <b>{{ m.message }}</b>
      </div>
    </div>
  </div>
</mat-expansion-panel>
