<h1>Link {{hardwareInputSelector.name}} - {{hardwareInputSelector.hardwareInputType}} </h1>

<mat-expansion-panel expanded *ngFor="let a of hardwareInputSelector.hardwareInputSelectors; let index = index">
    <form [formGroup]="options" #f="ngForm" (ngSubmit)="saveInputSelectorSimMapping(f)" novalidate>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Link Input Selector Mapping - {{hardwareInputSelector.hardwareInputSelectors[index].name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Integration using</mat-label>
                    <mat-select [(value)]="selected" required>
                        <mat-option value="0">SimConnect - Direct</mat-option>
                        <mat-option selected value="1">SimConnect - WASM Gauge</mat-option>
                        <mat-option value="2">FSUIPC</mat-option>
                        <mat-option value="3">Websockets</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Simulator Event</mat-label>
                    <mat-select [(value)]="selected" required>
                        <mat-option *ngFor="let simEvent of simEvents" [value]="simEvent.id">
                            {{simEvent.friendlyName}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>This is the hint for Hardware Board Identifier</mat-hint>
                </mat-form-field>
            </p>
        </div>
        <p>
            <button mat-flat-button color="primary"><mat-icon mat-list-icon>save</mat-icon>Save</button>    
        </p>
    </form>
</mat-expansion-panel>